app: app-playground-service

images:
  aps: Zillaforge/app-playground-service:0.0.7
  debugger: Zillaforge/debugger:1.0.2
  eventpublishPlugin: Zillaforge/event-publish-plugin:0.1.2
  filebeat: elastic/filebeat:8.14.3
  pullPolicy: IfNotPresent

core:
  enabled: true
  configmap:
    version: 0.0.7
    kind: AppPlaygroundService
    app_playground_service:
      instance: AppPlaygroundService-TrustCloud
      developer: true
      http:
        host: 0.0.0.0:8111
      grpc:
        host: 0.0.0.0:5111
        unix_socket: 
          path: /run/AppPlaygroundService.sock
          conn_count: 20
      logger:
        system_log:
          path: /var/log/ASUS/
          mode: debug
          show_in_console: true
        access_log:
          path: /var/log/ASUS/
        event_consume_log:
          path: /var/log/ASUS/
      tracer:
        enable: false
        host: http://jaeger-service:14268/api/traces
        timeout: 10
      scopes:
        allow_namespaces: ["public"] #["public", "private"]
        default_language: zh-TW
        enable_resource_review: true
        availability_district: "tw-tc-ad1"
      data_path:
        # ModulePath: /<data_dir>/<module_pid>/aps/module/<module-id>
        # ApplicationPath: /<data_dir>/<project-id>/aps/application/<application-id>
        data_dir: /var/lib/ASUS/aps/data
        module_pid: 14735dfa-5553-46cc-b4bd-405e711b223f
      application:
        provider: terraform
        summary_log_length: -1
        terraform:
          bin_path: "/usr/bin/terraform"
      opstkidentity:
        pid_source: extra.tw-tc-ad1.opsk.uuid
        uid_source: extra.tw-tc-ad1.opsk.uuid
    storage:
      provider: mariadb
      mariadb:
        host: mariadb-galera:3306
        account: root
        password: password
        name: aps
        timeout: 5
        max_open_conns: 150
        conn_max_lifetime: 10
        max_idle_conns: 150
    authentication:
      service: myiam
    openstack:
      - namespace: public
        service: opstk
      # - namespace: private
      #   service: opstk
    openstack_resource:
      service: myvps
    services:
      - name: myiam
        kind: iam
        hosts:
          - iam-service:5051
        tls:
          enable: false
          cert_path: /root/server-csr/IAM.pem
        connection_per_host: 3
      - name: opstk
        kind: openstack
        identity_endpoint: keystone_url #openstakc keystone endpoint
        admin_username: test@trusted-cloud.nchc.org.tw
        admin_password: password123
        admin_project: 14735dfa-5553-46cc-b4bd-405e711b223f  
        domain_name: trustedcloud
        allow_reauth: true
        pid_source: extra.tw-tc-ad1.opsk.uuid
        username_source: account
        pwd_otp_secret: pwd_otp_secret
      - name: myvps
        kind: vps
        hosts:
        - vps-service:5110
        tls:
          enable: false
          cert_path: /root/server-csr/VPS.pem
    event_publish:
      plugins:
      - name: EventPublishPlugin
        type: grpc
        binary_path: "/var/lib/ASUS/aps/eventpublish/eventpublishplugin"
        config_path: "/var/lib/ASUS/aps/eventpublish/config/eventpublishplugin.yaml"
        socket_path: /run/eventpublishplugin.sock
        start_cmd_args:
          --redis-channel: FromAPS
    metering_service:
      account: user
      password: password
      host: rabbitmq:5672
      manage_host: rabbitmq:15672
      timeout: 5
      rpc_timeout: 10
      vhost: "/"
      operation_connection_num: 2
      channel_num: 1
      replica_num: 0
      consumer_connection_num: 1
    littlebell:
      host: http://simple-notification-service-service:8092
      region: default
      credential:
        project_id: 14735dfa-5553-46cc-b4bd-405e711b223f
        user_id: 4990ccdb-a9b1-49e5-91df-67c921601d81
      arn: arn:aws:sns:default:14735dfa-5553-46cc-b4bd-405e711b223f:lbm-svc-event-publish-topic

scheduler:
  enabled: true
  configmap:
    version: 0.0.7
    kind: AppPlaygroundServiceScheduler
    app_playground_service_scheduler:
      instance: AppPlaygroundServiceScheduler-TrustCloud
      core_grpc:
        hosts: ["app-playground-service-core-service:5111"]
        tls:
          enable: false
          cert_path: /root/server-csr/APS.pem
        connection_per_host: 3
      tasks:
        sync_projects: 
          cron_expression: "0 */10 * * * * *"
        applications_metering:
          cron_expression: "0 0 * * * * *"
          metering_service:
            exchange: mts
            routing_key: "aps-application"
    event_consume:
      service: my_redis_sentinel
      channels:
      - FromIAM
    services:
      - name: my_redis_sentinel
        kind: redis_sentinel
        hosts:
        - redis-sentinel-service:26379
        password: password
        master_group_name: mymaster
      - name: myvps
        kind: vps
        hosts:
        - vps-service:5110
        tls:
          enable: false
          cert_path: /root/server-csr/VPS.pem

eventpublish:
  eventpublishPlugin:
    plugin:
      name: EventPublishPlugin
      instance: AppPlaygroundService-EventPublishPlugin-TrustCloud
      version: 0.1.2
      socket_path: "/run/eventpublishplugin.sock"
      logger:
        system_log:
          path: /var/log/ASUS
          max_size: 10
          max_backups: 5
          max_age: 10
          compress: false
          mode: debug
          show_in_console: true
        event_log:
          path: /var/log/ASUS
          max_size: 10
          max_backups: 5
          max_age: 10
      tracer:
        enable: false
        collector_endpoint: http://jaeger-service:14268/api/traces
        timeout: 10
      service: my_redis_sentinel
      services:
      - name: my_redis_sentinel
        kind: redis_sentinel
        hosts:
        - redis-sentinel-service:26379
        password: password
        master_group_name: mymaster

service:
  core:
    enableNodePort: false
    externalIPs: []
    grpc:
      port: 5111
      nodePort: 31111
    http:
      port: 8111
      nodePort: 32111

volume:
  data_path: "/trusted-cloud/normal/site-storage/"

serviceMonitor:
  enable: false

elasticSearch:
  hosts: ["http://elasticsearch-es-http.default.svc.cluster.local:9200"]
  index: accesslog-%{[service.auditLogName]}
  # protocol: "https"
  pipeline: pipeline-%{[service.auditLogName]}
  # preset: balanced
  username: "elastic"
  password: "password"
  # ssl:
  #  enabled: true
  #  verification_mode: none
