apiVersion: v1
kind: ConfigMap
metadata:
  name: slurm-config
  namespace: slurm
data:
  slurm.conf: |
    # Slurm configuration
    AccountingStorageType=accounting_storage/mysql
    AccountingStorageHost=mysql
    AccountingStoragePort=3306
    AccountingStorageUser=slurm
    AccountingStoragePass=password
    
    ClusterName=linux
    ControlMachine=slurmctld
    ControlAddr=slurmctld
    ControlPort=6817
    
    SlurmdPort=6818
    SlurmdSpoolDir=/var/spool/slurm/ctld
    SlurmdLogFile=/var/log/slurm/slurmd.log
    SlurmctldLogFile=/var/log/slurm/slurmctld.log
    SlurmdBD_LogFile=/var/log/slurm/slurmdbd.log
    
    ReturnToService=0
    AuthType=auth/munge
    CryptoType=crypto/munge
    
    SlurmUser=slurm
    SlurmctldUser=slurm
    SlurmdUser=root
    
    LogTimeFormat=thread_id
    SchedulerType=sched/backfill
    SelectType=select/cons_tres
    SelectTypeParameters=CR_Core_Memory,CR_CORE_DEFAULT_MAP_USER
    
    Prolog=/etc/slurm/prolog.sh
    Epilog=/etc/slurm/epilog.sh
    
    JobDefaults=--distribution=block:block --bind=cores
    
    # StateSaveLocation for slurmctld
    StateSaveLocation=/var/spool/slurm/ctld
    
    # Nodes configuration
    NodeName=c1 CPUs=1 RealMemory=512
    NodeName=c2 CPUs=1 RealMemory=512
    
    # Partitions
    PartitionName=cpu Nodes=c1,c2 Default=YES MaxTime=INFINITE State=UP
    
    # Slurm REST API
    SlurmctldPort=6817
    
  slurmdbd.conf: |
    # Slurm database configuration
    ArchiveEvents=1
    ArchiveJobs=1
    ArchiveResvs=1
    ArchiveSteps=1
    
    AuthType=auth/munge
    AuthAltTypes=auth/jwt
    AuthAltParameters=jwt_key=/etc/slurm/jwt_hs256.key
    
    ClusterName=linux
    DebugLevel=debug
    
    LogFile=/var/log/slurm/slurmdbd.log
    
    MaxQueryTimeRange=12-0
    MinJobAge=2880
    
    ProctrackType=proctrack/linuxproc
    PurgeEventAfter=1month
    PurgeJobAfter=12month
    PurgeResvAfter=1month
    PurgeStepAfter=1month
    PurgeSuspendAfter=1month
    PurgeTXNAfter=12month
    
    SlurmctldHost=slurmctld(6817)
    
    StorageType=accounting_storage/mysql
    StorageHost=mysql
    StoragePort=3306
    StorageUser=slurm
    StoragePass=password
    StorageLoc=slurm_acct_db

  cgroup.conf: |
    # Cgroup configuration
    CgroupAutomount=yes
    ConstrainCores=no
    ConstrainDevices=no
    ConstrainRAMSpace=yes
    MaxRAMPercent=100
    MinRAMSpace=30
    
  prolog.sh: |
    #!/bin/bash
    # Slurm prolog
    echo "Job starting on $(hostname) at $(date)" >> /var/log/slurm/prolog.log
    
  epilog.sh: |
    #!/bin/bash
    # Slurm epilog
    echo "Job finished on $(hostname) at $(date)" >> /var/log/slurm/epilog.log
