app: audit-track-service
images:
  audittrackservice: Zillaforge/audit-track-service:0.0.3
  debugger: Zillaforge/debugger:1.0.2
  filebeat: docker.io/elastic/filebeat:8.14.3
core:
  enabled: true
  configmap:
    version: 0.0.3
    kind: AuditTrackService
    AuditTrackService:
      instance: AuditTrackService
      developer: true
      # http:
        # host: 0.0.0.0:8115
        # access_control:
          # allow_origins: ["*"]
          # allow_credentials: true
          # allow_headers: ["Origin", "Content-Length", "Content-Type", "Authorization"]
          # allow_methods: ["GET", "POST", "PUT", "PATCH", "DELETE", "HEAD", "OPTIONS"]
          # expose_headers: ["host-id", "version-id", "location-id"]
      logger:
        system_log:
          path: /var/log/ASUS
          mode: debug
          show_in_console: true
        access_log:
          path: /var/log/ASUS
        event_consume_log:
          path: /var/log/ASUS
      tracer:
        enable: false
        host: http://jaeger-service.pegasus-system:14268/api/traces
        timeout: 10
      # translation_list 定義 action 對應名稱詞彙的列表
      translation_list:
      - name: zh-tw
        path: "/etc/ASUS/zh-tw.json"
    elasticsearch:
      hosts:
      - http://elasticsearch-es-http.default.svc.cluster.local:9200
      # - https://.8:9200 # hot data
      # - https://.9:9200 # cold data
      account: elastic
      password: password
      timeout: 60
      pipelines:
      - name: pipeline-pegasusiam
        white_list:
        - "user:CreateMembership"
        - "user:CreateMembershipBatch"
        - "user:CreateOAuth20"
        - "user:CreatePermissionByProject"
        - "user:CreatePersonalAccessAPIToken"
        - "user:DeleteMembership"
        - "user:DeleteOAuth20"
        - "user:DeletePermissionByProject"
        - "user:DeletePersonalAccessAPIToken"
        - "user:DisableMFA"
        - "user:EnableMFA"
        - "user:ForceChangePassword"
        - "user:GenerateMFA"
        - "user:RefreshTokenOAuth20"
        - "user:RegisterMFA"
        - "user:SetMembershipOwner"
        - "user:UpdateCliSecrets"
        - "user:UpdateCredential"
        - "user:UpdateMembershipRole"
        - "user:UpdatePassword"
        - "user:UpdatePermissionByProject"
        - "user:UpdateToken"
        - "user:UpdateUserPermissionByProject"
        - "user:UpdatePublicKey"
        - "user:CreateSAML"
        - "user:DeleteSAML"
        - "user:UpdateSAML"
        - "user:UpdateUser"
        - "user:UpdateProject"
        - "user:UpdateMembership"
        - "admin:UpdateCliSecrets"
        - "admin:CreateMembership"
        - "admin:CreateMembershipBatch"
        - "admin:CreateOAuth20"
        - "admin:CreatePermission"
        - "admin:CreatePersonalAccessAPITokenByUser"
        - "admin:CreateProject"
        - "admin:CreateUser"
        - "admin:DeleteMembership"
        - "admin:DeleteOAuth20"
        - "admin:DeletePermission"
        - "admin:DeletePersonalAccessAPITokenByUser"
        - "admin:DeleteProject"
        - "admin:DeleteProjectUsageTime"
        - "admin:DeleteUser"
        - "admin:DeleteUserUsageTime"
        - "admin:DisableMFA"
        - "admin:SetJailerByUser"
        - "admin:SetMemFrozenByUser"
        - "admin:SetMembershipOwner"
        - "admin:SetProjectFrozen"
        - "admin:SetUserFrozen"
        - "admin:UpdateCredential"
        - "admin:UpdateMembership"
        - "admin:UpdatePassword"
        - "admin:UpdatePermission"
        - "admin:UpdateProject"
        - "admin:UpdateProjectUsageTime"
        - "admin:UpdateUser"
        - "admin:UpdateUserUsageTime"
        - "admin:UpdateUserAttribute"
        - "admin:CreateSAML"
        - "admin:DeleteSAML"
        - "admin:UpdateSAML"
        - "admin:CreateSimulationAccessAPITokenByUser"
      - name: pipeline-cloudstorage
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:DeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:PutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:CreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
      - name: pipeline-filestorage
        white_list:
        - "ftp:DeleteDir"
        - "ftp:DeleteFile"
        - "ftp:MakeDir"
        - "ftp:PutFile"
        - "ftp:Rename"
        - "ftp:Login"
        - "ftp:LoginFailed"
        - "sftp:WriteFile"
        - "sftp:MkDir"
        - "sftp:Remove"
        - "sftp:Rename"
        - "sftp:RmDir"
        - "sftp:SetStat"
        - "sftp:Login"
        - "sftp:LoginFailed"
      - name: pipeline-audittrackservice
        white_list:
        - "admin:SetPipeline"
      - name: pipeline-cloudkubeservice
        white_list:
        - "user:CreateCluster"
        - "user:DeleteCluster"
        - "user:CreateNodegroup"
        - "user:UpdateNodegroup"
        - "user:DeleteNodegroup"
        - "user:UpdateClusterconfig"
        - "user:UpgradeCluster"
      - name: pipeline-containerregistrymanagement
        white_list:
        - "user:DeleteRepository"
        - "user:CreateTag"
        - "user:DeleteTag"
        - "user:UpdateRepository"
        - "admin:UpdateRegistry"
        - "admin:DeleteRegistry"
        - "admin:UpdateRepository"
        - "admin:DeleteRepository"
        - "admin:CreateTag"
        - "admin:DeleteTag"
        - "cri:Login"
        - "cri:Push"
        - "cri:Pull" 
      - name: pipeline-remotedispatchservice
        white_list:
        - "user:CreateResource"
        - "user:UpdateResource"
        - "user:DeleteResource"
        - "user:SyncResource"
        - "user:CreateTask"
        - "user:UpdateTask"
        - "user:DeleteTask"
        - "user:CreateJobByTask"
        - "user:TerminateJobByTask"
        - "user:DeleteJobByTask"
        - "user:AddResourcesToTask"
        - "user:RemoveResourceFromTask"
        - "admin:CreateFlavor"
        - "admin:UpdateFlavor"
        - "admin:DeleteFlavor"
        - "admin:CreateSkeleton"
        - "admin:UpdateSkeleton"
        - "admin:DeleteSkeleton"
        - "admin:CreateResource"
        - "admin:UpdateResource"
        - "admin:DeleteResource"
        - "admin:SyncResource"
        - "admin:CreateTask"
        - "admin:UpdateTask"
        - "admin:DeleteTask"
        - "admin:CreateJobByTask"
        - "admin:TerminateJobByTask"
        - "admin:DeleteJobByTask"
        - "admin:AddResourcesToTask"
        - "admin:RemoveResourceFromTask"
      - name: pipeline-virtualregistrymanagement
        white_list:
        - "user:CreateRepository"
        - "user:UpdateRepository"
        - "user:DeleteRepository"
        - "user:CreateTag"
        - "user:UpdateTag"
        - "user:DeleteTag"
        - "user:CreateMemberAclBatch"
        - "user:DeleteMemberAcl"
        - "user:CreateProjectAcl"
        - "user:DeleteProjectAcl"
        - "user:UploadImage"
        - "user:CreateSnapshot"
        - "admin:GetDetailVersions"
        - "admin:CreateRepository"
        - "admin:UpdateRepository"
        - "admin:DeleteRepository"
        - "admin:CreateTag"
        - "admin:UpdateTag"
        - "admin:DeleteTag"
        - "admin:CreateMemberAclBatch"
        - "admin:DeleteMemberAcl"
        - "admin:CreateProjectAcl"
        - "admin:DeleteProjectAcl"
        - "admin:UploadImage"
        - "admin:ImportImage"
        - "admin:CreateSnapshot"
        - "admin:UpdateProject"
        - "admin:SetRepositoryProtect"
        - "admin:SetTagProtect"
        - "admin:UnsetRepositoryProtect"
        - "admin:UnsetTagProtect"
      - name: pipeline-virtualplatformservice
        white_list:
        - "user:NetCreate"
        - "user:NetUpdate"
        - "user:NetDelete"
        - "user:NetAction"
        - "user:RouterCreate"
        - "user:RouterUpdate"
        - "user:RouterDelete"
        - "user:RouterAddNet"
        - "user:RouterRemoveNet"
        - "user:RouterAction"
        - "user:KeypairCreate"
        - "user:KeypairUpdate"
        - "user:KeypairDelete"
        - "user:SgCreate"
        - "user:SgUpdate"
        - "user:SgDelete"
        - "user:SgAddRule"
        - "user:SgDelRule"
        - "user:VolumeCreate"
        - "user:VolumeUpdate"
        - "user:VolumeDelete"
        - "user:VolumeAction"
        - "user:SnapshotCreate"
        - "user:SnapshotUpdate"
        - "user:SnapshotDelete"
        - "user:FWCreate"
        - "user:FWUpdate"
        - "user:FWDelete"
        - "user:FWAddNet"
        - "user:RemoveNet"
        - "user:FWRuleCreate"
        - "user:FWRuleUpdate"
        - "user:FWRuleDelete"
        - "user:ServerCreate"
        - "user:ServerUpdate"
        - "user:ServerDelete"
        - "user:ServerAddNIC"
        - "user:ServerRemoveNIC"
        - "user:ServerAddDisk"
        - "user:ServerRemoveDisk"
        - "user:ServerAction"
        - "user:ServerAssoFIP"
        - "user:ServerUpdateNIC"
        - "user:FIPCreate"
        - "user:FIPUpdate"
        - "user:FIPDelete"
        - "user:FIPDisassociate"
        - "user:FIPApprove"
        - "user:FIPReject"
        - "user:ASGCreate"
        - "user:ASGUpdate"
        - "user:ASGDelete"
        - "user:ASGApprove"
        - "user:ASGReject"
        - "user:ASGSvrAction"
        - "user:ASGSvrFIP"
        - "user:ShareCreate"
        - "user:ShareUpdate"
        - "user:ShareDelete"
        - "user:ShareAddRule"
        - "user:ShareDelRule"
        - "user:ShareExtend"
        - "user:LbCreate"
        - "user:LbUpdate"
        - "user:LbDelete"
        - "user:LbListenerCreate"
        - "user:LbListenerUpdate"
        - "user:LbListenerDelete"
        - "user:LbPoolCreate"
        - "user:LbPoolUpdate"
        - "user:LbPoolDelete"
        - "user:LbMemberCreate"
        - "user:LbMemberDelete"
        - "user:LbMembersUpdate"
        - "user:LbFIP"
        - "admin:FlavorCreate"
        - "admin:FlavorUpdate"
        - "admin:FlavorDelete"
        - "admin:ExtNetCreate"
        - "admin:ExtNetUpdate"
        - "admin:ExtNetDelete"
        - "admin:ExtNetSetDefault"
        - "admin:ExtNetAsso"
        - "admin:QuotaSet"
        - "admin:QuotaSetDefault"
        - "admin:PvdNetCreate"
        - "admin:PvdNetUpdate:"
        - "admin:PvdNetDelete"
        - "admin:PvdNetCreatePort"
        - "admin:PvdNetDeletePort"
      - name: pipeline-resourceshiftservice
        white_list:
        - "user:MigrateVPS"
        - "user:MigrateAPS"
      - name: pipeline-data-exchange-service-private
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:DeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:PutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:CreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
        - "ftp:DeleteDir"
        - "ftp:DeleteFile"
        - "ftp:MakeDir"
        - "ftp:PutFile"
        - "ftp:Rename"
        - "ftp:Login"
        - "ftp:LoginFailed"
        - "sftp:WriteFile"
        - "sftp:MkDir"
        - "sftp:Remove"
        - "sftp:Rename"
        - "sftp:RmDir"
        - "sftp:SetStat"
        - "sftp:Login"
        - "sftp:LoginFailed"
      - name: pipeline-data-exchange-service-public
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:OpDeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:OpPutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:OpCreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
        - "ftp:DeleteDir"
        - "ftp:DeleteFile"
        - "ftp:MakeDir"
        - "ftp:PutFile"
        - "ftp:Rename"
        - "ftp:Login"
        - "ftp:LoginFailed"
        - "sftp:WriteFile"
        - "sftp:MkDir"
        - "sftp:Remove"
        - "sftp:Rename"
        - "sftp:RmDir"
        - "sftp:SetStat"
        - "sftp:Login"
        - "sftp:LoginFailed"
      - name: pipeline-data-release-service-private
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:DeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:PutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:CreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
        - "ftp:DeleteDir"
        - "ftp:DeleteFile"
        - "ftp:MakeDir"
        - "ftp:PutFile"
        - "ftp:Rename"
        - "ftp:Login"
        - "ftp:LoginFailed"
        - "sftp:WriteFile"
        - "sftp:MkDir"
        - "sftp:Remove"
        - "sftp:Rename"
        - "sftp:RmDir"
        - "sftp:SetStat"
        - "sftp:Login"
        - "sftp:LoginFailed"
      - name: pipeline-data-storage-service-private
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:DeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:PutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:CreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
      - name: pipeline-data-storage-service-public
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:DeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:PutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:CreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
      - name: pipeline-site-storage-service
        white_list:
        - "user:UpdateQuota"
        - "admin:CreateBucketInfo"
        - "admin:DeleteBucketInfoByProjectID"
        - "admin:UpdateBucketInfo"
        - "admin:DeleteBucketInfo"
        - "admin:ResetBucketACLs"
        - "admin:UpdateDuTask"
        - "admin:DeleteDuTask"
        - "admin:DeleteFilesystemProjectID"
        - "admin:UpdateQuota"
        - "s3:CreateBucket"
        - "s3:DeleteBucket"
        - "s3:PutBucketACL"
        - "s3:CopyObject"
        - "s3:DeleteObject"
        - "s3:DeleteObjects"
        - "s3:PutObject"
        - "s3:PutObjectACL"
        - "s3:AbortMultipartUpload"
        - "s3:CompleteMultipartUpload"
        - "s3:CreateMultipartUpload"
        - "s3:UploadPart"
        - "s3:UploadPartCopy"
    authentication:
      service: pegasus-cloud-iam
    services:
      - name: pegasus-cloud-iam
        kind: iam
        hosts:
          - iam-service:5051
        tls:
          enable: false
          cert_path: /root/server-csr/IAM.pem
        connection_per_host: 3

service:
  core:
    enableNodePort: true

elasticSearch:
  hosts: ["http://elasticsearch-es-http.default.svc.cluster.local:9200"]
  index: accesslog-%{[service.auditLogName]}
  # protocol: "https"
  pipeline: pipeline-%{[service.auditLogName]}
  # preset: balanced
  username: "elastic"
  password: "password"
  # ssl:
  #   enabled: false
  #   verification_mode: none
